body {
    margin: 0;
    background-color: #666666;
}

#container {
    margin: auto;
    margin-top: 75px;
    width: 405px;
    height: 805px;
    border-radius: 75px;
    background-color: black;
    border: 1px solid white;
}

#screen {
    margin: auto;
    width: 398px;
    height: 300px;
    border-radius: 30px;
}

#value {
    width: 88.5%;
    height: 475px;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: white;
    font-size: 75px;
    background-color: transparent;
    border: none;
    text-align: right;
}

::placeholder {
    color: white;
}

#form {
    margin: auto;
    width: 398px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-content: baseline;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin-top: 5px;
    margin-left: 5px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: #333333;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.buttonTop {
    background-color: #a5a5a5;
    color: black;
}

.buttonTop:hover {
    background-color: #949494;
}

.buttonRight {
    background-color: #ff9f0a;
    color: white;
}

.buttonRight:hover {
    background-color: #cc7c08;
}

button:hover:not(.buttonTop):not(.buttonRight) {
    background-color: #222222;
}

#button_0 {
    width: 170px;
}