body {
    margin: 0;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

#container {
    width: 1200px;
    height: 100vh;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#form {
    height: 650px;
    width: 700px;
    background-color: white;
    border: 1px gray solid;
    border-radius: 25px;
    padding: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-form {
    width: 100%;
    height: 16.6%;
    margin-top: 2px;
}

.input-form {
    width: 90%;
    height: 45px;
    border: 2px #cccccc solid;
    border-radius: 50px;
}

.align-left {
    text-align: left;
    margin-left: 30px;
    font-size: 17px;
    font-weight: 600;
}

label {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 25px;
    font-weight: 500;
    float: left;
}

input[type="radio"] {
    margin-right: 5px;
}

.h1-form {
    font-size: 40px;
}

.h1-form span {
    color: #d6b123;
}

#submit {
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: #d6b123;
    color: whitesmoke;
    cursor: pointer;
    font-size: 25px;
}

#info {
    height: 650px;
    width: 700px;
    background-color: white;
    border: 1px gray solid;
    border-radius: 25px;
    padding: 20px;
    margin-left: 50px;
    float: left;
}

.div-info {
    font-size: 22px;
    margin-top: 10px;
}

.h1-info {
    font-size: 40px;
}

.h1-info span {
    color: #d6b123;
}


/* Made BMI div */

#div_BMI {
    width: 900px;
    height: 400px;
    background-color: white;
    border-radius: 25px;
}

#div_BMI_top {
    width: 900px;
    height: 300px;
    background-color: #4dbf43;
    border-radius: 25px;
    color: white;
}

#div_BMI_top_right {
    width: 450px;
    height: 100%;
    float: left;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div_BMI_top_left {
    width: 450px;
    height: 100%;
    float: left;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#div_BMI_top_1 {
    width: 100%;
    height: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div_BMI_top_2 {
    width: 100%;
    height: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_BMI_top_3 {
    clear: both;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

#div_BMI_bottom {
    width: 750px;
    height: 100px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    float: left;
}

.align_left_border {
    padding-left: 10px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.align_left {
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.blue{
    color: #009cc5;
}


